:root {
  --jumbotron-padding-y: 1.5rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron .container {
  max-width: 40rem;
}

#tea-filter-form select {
  appearance: auto;
}

.parent-tea-type {
  font-weight: bold;
}

.tea-card h2 {
  font-size: 1rem;
}

.tea-card p.basic-info {
  margin-bottom: 8px;
}

.tea-card p.basic-info span {
  display: block;
}

.pagination .page-item.active .page-link {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
}

.pagination .page-link:focus, .pagination .page-link:hover {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.pagination .page-link {
  color: #212529;
}
